{{> header}}
{{> navbar}}
<h1>Claude Monette </h1>
{{> descripcion}}
{{>pintor}}
<img src="/images/monetec.jpg" alt="monete">
{{>pinturas}}
<img src="/images/monetep.jpg" alt="monete">
<img src="/images/monetep2.jpg" alt="monete">
<img src="/images/monetep3.jpg" alt="monete">
<img src="/images/monetep4.jpg" alt="monete">
{{> footer}}