{{> header}}
{{> navbar}}
<h1>Pablo Picasso </h1>
{{> descripcion}}
{{>pintor}}
<img src="/images/picassoc.jpg" >
{{>pinturas}}
<img src="/images/picassop1.jpg" >
<img src="/images/picassop2.jpg" >
<img src="/images/picassop3.jpg" >
<img src="/images/picassop4.jpg" >
{{> footer}}

