{{> header}}
{{> navbar}}
<h1> </h1>
{{> descripcion}}
{{>pintor}}
<img src="/images/rembrantc.jpg" >
{{>pinturas}}
<img src="/images/rembrantp1.jpg" >
<img src="/images/rembrantp2.jpg" >
<img src="/images/rembrantp3.jpg" >
<img src="/images/rembrantp4.jpg" >
{{> footer}}