{{> header}}
{{> navbar}}
<h1> </h1>
{{> descripcion}}
{{>pintor}}
<img src="/images/diegoc.jpg" >
{{>pinturas}}
<img src="/images/diegop1.jpg" >
<img src="/images/diegop2.jpg" >
<img src="/images/diegop3.jpg" >
<img src="/images/diegop4.jpg" >
{{> footer}}